<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<ul id="menu-demo2" >
    <li><a th:href="@{/direction/home_direction}">HOME</a></li>
    <li><a th:href="@{#}">QUESTIONER</a>
        <ul>
            
            <li><a th:href="@{/direction/questioner_view_list}">preview </a></li>
            <li><a th:href="@{/direction/questioner_view_list}">list all </a></li>
        </ul>
    </li>
    <li><a th:href="@{#}">CLIENT</a>
        <ul>
            <li><a th:href="@{/direction/client_form_regist}">regist</a></li>
            <li><a th:href="@{/direction/client_view}">preview</a></li>
            <li><a th:href="@{/direction/client_view_list}">list all </a></li>               
            
        </ul>
    </li>
    <li><a th:href="@{#}">STUDY</a>
        <ul>
            <li><a th:href="@{/direction/study_form_regist}">regist</a></li>
            <li><a th:href="@{/direction/study_view}">preview</a></li>
            <li><a th:href="@{/direction/study_view_list}">list all </a></li> 
                          
            
        </ul>
    </li>
    
    <li><a th:href="@{#}">ANSWERING</a>
        <ul>
            <li><a th:href="@{/direction/answering_view_list}">preview </a></li>
            <li><a th:href="@{/direction/answering_view_list}">list all </a></li>
        </ul>
    </li>
    <li><a th:href="@{#}">REPORTS</a>
        <ul>
            <!--<li><a th:href="@{/direction/study_view_state}">state</a></li>-->
            <li><a th:href="@{/direction/study_report_upload}">upload</a></li>
            <li><a th:href="@{/direction/study_report_download}">download</a></li>         
        </ul>
    </li>
      <li><a th:href="@{#}"></a>
        <ul>
                      
        </ul>
    </li>
     <li ><!--a th:href="@{#}">SIGN UP</a-->
		     <form th:action="@{/logout}" method="post">
		    <input type="submit" value="Logout" class="btn btn-primary" />
			</form>
        <ul>
                      
        </ul>
    </li>
</ul>
</body>
</html>