<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>study registration</title>
 <th:block th:include="direction/_header_direction"></th:block>

</head>
<body>
<div id="wrap">
  <!-- header !-->
<div id="header">
<table>
    <tr>
        <td><img src="images/logo.png"></td>
        <td><h1><a href="#" >Business ITEC</a><br>Direction Departement</h1></td>
    </tr>
     <tr>
         <td><h2></h2></td></table>
</div></div>
  <!-- menu -->
<div id="menu" >
 <th:block th:include="direction/_menu_direction"></th:block>
</div>
   <br><br>   
<div id="content" class="col-md-12">
 <div class="alert alert-close alert-danger" th:if="${errorFlash}">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove"></a>
                        <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" th:text="${errorFlash}"></h4>
                        </div>
               </div>   
    <div class="form-style-2">
        <div class="form-style-2-heading">Studies registration</div>
        <form th:action="@{/study/save}"  th:method="post">
        <label for="field1"><span>ID Study<span class="required">*</span></span><input type="text" class="input-field" name="studyId" value="" maxlength="8" required /></label>
        <label for="field1"><span>Study name <span class="required">*</span></span><input type="text" class="input-field" name="studyName" value=""maxlength="30" required/></label>
        <label for="field4"><span>Typ of study</span><select name="typ" class="select-field">
            <option value="quantity">Quantity</option>
            <option value="quality">Quality</option>
            </select></label>
        <!--label for="field2"><span>Client<span class="required">*</span></span><input type="text" class="input-field" name="client" value="" required/></label-->
        <label for="field2"><span>Start date <span class="required">*</span></span><input type="date" class="input-field" name="startDate" value="" required/></label>
        <label for="field2"><span>End date<span class="required">*</span></span><input type="date" class="input-field" name="endDate" value="" required/></label>
        <label for="field2"><span>Sample<span class="required">*</span></span><input type="number" class="input-field" name="sample" value="" min="1" required/></label>

        <label for="field4"><span>Branch of activity</span>
        <select name="branch" class="select-field">
            <option value="Domestic appliances">Domestic appliances</option>
	        <option value="Drink">Drink</option>
	         <option value="Food Industry">Food Industry</option>
	         <option  value="Hygien and Sanitary"> Hygien and Sanitary</option>
	         <option value="Mobile Telephony"> Mobile Telephony</option>
	         <option value="Pharmacy"> Pharmacy </option>
            </select></label>
         <label for="field4"><span>Client</span>
          <select name="client" class="select-field">
            <option th:each="row : ${clients}" th:value="${row.id}" th:text="${row.name}"></option>
            </select></label>  
         
        <label><span> </span><input type="submit" value="Submit" /></label>
        
<!--            <label for="field5"><span>Message <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>
-->
        </form>
        </div>

</div>

<div id="footer">
<a href="#">Designed by Jean Franklin KAMANI</a>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>