<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>home supervision</title>
 <th:block th:include="study_management/_header_study_management"></th:block>

</head>
<body>
<div id="wrap">
  <!-- header !-->
<div id="header">
<table>
    <tr>
        <td><img src="../images/logo.png"></td>
        <td><h1><a href="#" >Business ITEC</a><br>Studies management Departement</h1></td>
    </tr>
     <tr>
         <td><h2></h2></td></table>
</div></div>
  <!-- menu -->
<div id="menu" >
 <th:block th:include="study_management/_menu_management"></th:block>
</div>

   <br><br>   
<div id="content">   
    <h2>Welcome to  BTC Soft-Tech</h2><br />
	<br />
	<p><b ><a href="#">OUR VISION</b> </a><br><br>
        A leading company in marketing research and a reliable partner for sustainable and harmonious development.
    	 </p><br>
	 <p><b><a href="#">OUR MISSION</b> </a><br><br>
        Support organizations in the quest for excellence through studies, advice and capacity building.
    	  </p>

</div>

<div id="footer">
<a href="#">Designed by Jean Franklin KAMANI</a>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>