<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>view study </title>
 <th:block th:include="study_management/_header_study_management"></th:block>
</head>
<body>
<div id="wrap">
  <!-- header !-->
<div id="header">
<table>
    <tr>
        <td><img src="../images/logo.png"></td>
        <td><h1><a href="#" >Business ITEC</a><br>Studies management Departement</h1></td>
    </tr>
     <tr>
         <td><h2></h2></td></table>
</div></div>
  <!-- menu -->
<div id="menu" >
 <th:block th:include="study_management/_menu_management"></th:block>
</div>
   <br><br>   
<div id="content" class="col-md-12"> 
	<div class="alert alert-close alert-success" th:if="${successFlash}">
                        <a href="#" title="Close" class="alert-close-btn icon-remove"><i class="fas fa-times"></i></a>
                        <div class="bg-green alert-icon">
                    <i class="fas fa-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" th:text="${successFlash}"></h4>
                        </div>
       </div>
       <div class="alert alert-close alert-danger" th:if="${errorFlash}">
                        <a href="#" title="Close" class="alert-close-btn icon-remove"><i class="fas fa-times"></i></a>
                        <div class="bg-red alert-icon">
                    <i class="fas fa-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" th:text="${errorFlash}"></h4>
                        </div>
               </div>  
 
    <div class="form-style-2 col-md-12"> 
        
      <div class="row" > 
      	<div class="col-md-12">
        <div class="form-style-2-heading">Study View</div>
        </div>
       <div class="col-md-6">
        <label for="field1"><span>Study Name</span><input type="text" class="input-field" th:value="${data.studyName}" disabled /></label>
        <label for="field1"><span>Study Id</span><input type="text" class="input-field" th:value="${data.studyId}" disabled /></label>
        <label for="field1"><span>Typ </span><input type="text" class="input-field"  th:value="${data.typ}" disabled/></label>
        <label for="field4"><span>Branch </span><input type="text" class="input-field" th:value="${data.branch}" disabled/></label>
       
       </div>
       <div class="col-md-6">  
        <label for="field2"><span>Sample</span><input type="text" class="input-field"  th:value="${data.sample}" disabled/></label>
        <label for="field2"><span>Start Date</span><input type="text" class="input-field"  th:value="${#dates.format(data.startDate, 'dd/MM/yyyy')}" disabled/></label>
        <label for="field2"><span>End Date</span><input type="text" class="input-field"  th:value="${#dates.format(data.endDate, 'dd/MM/yyyy')}" disabled/></label>        
        <label for="field2"><span>Client</span><input type="text" class="input-field"  th:value="${data.clientId.name}" disabled/></label>        
         
       </div>
       </div>
       <div class="row">
       <div class="col-md-12">  
        <div class="form-style-2-heading">Answering Detail</div>  
        	 <table class="table" id="" >
	 							<thead>
				                <tr>
				                    <th>Answering</th>
				                    <th>Date Interview</th>
				                    <th>Reasons</th>   
				                    <th>About Product</th> 
				                </tr>
				                </thead>  
				                <tbody>
				                <tr th:each="row : ${participation}">
				                    <td th:text="${row.answering.firstName}"></td>
				                    <td th:text="${#dates.format(row.interviewDate, 'dd/MM/yyyy')}"></td>
				                    <td th:text="${row.reasons}"></td>
				                    <td th:text="${row.aboutProduct}"></td> 
				                    
				                </tr>
				                </tbody>
				                
				            </table> 
        
       </div>
       <div class="col-md-12">
          <div class="form-style-2-heading">Questioner Detail</div>  
        	 <table class="table" id="" >
	 							<thead>
				                <tr>
				                    <th>Questioner</th>
				                    <th>Team Work</th>
				                    <th>Total Question</th>   
				                    <th>Responsability</th>
				                    <th>Unit Price</th>
				                    <th>Mastering</th>
				                    <th>Editing</th>
				                    <th>Instruction</th>
				                    <th>Discipline</th>
				                    <th>Intervention</th>
				                    <th>Observation</th>
				                </tr>
				                </thead>  
				                <tbody>
				                <tr th:each="row : ${deploy}">
				                    <td th:text="${row.questionner.firstName}"></td>
				                    <td th:text="${row.teamWork}"></td>
				                    <td th:text="${row.totalQuestion}"></td>
				                    <td th:text="${row.unitPrice}"></td>
				                    <td th:text="${row.responsability}"></td>
				                    <td th:text="${row.mastering}"></td>
				                    <td th:text="${row.editing}"></td>
				                    <td th:text="${row.instruction}"></td>
				                    <td th:text="${row.discipline}"></td>
				                    <td th:text="${row.typeIntervention}"></td>
				                    <td th:text="${row.observation}"></td>
				                </tr>
				                </tbody>
				                
				            </table> 
        </div>
       </div>
       
       </div>
       </div> 



<div id="footer">
<a href="#">Designed by Jean Franklin KAMANI</a>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>