<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>home supervision</title>
<th:block th:include="supervision/_header_supervision"></th:block>

</head>
<body>
<div id="wrap">
  <!-- header !-->
<div id="header">
<table>
    <tr>
        <td><img src="../images/logo.png"></td>
        <td><h1><a href="#" >Business ITEC</a><br>Supervision Departement</h1></td>
    </tr>
     <tr>
         <td><h2></h2></td></table>
</div></div>
  <!-- menu -->
<div id="menu" >
 <th:block th:include="supervision/_menu_supervision"></th:block>
</div>

   <br><br>   
<div id="content" class="col-md-12">     
 <div class="alert alert-close alert-success" th:if="${successFlash}">
                        <a href="#" title="Close" class="alert-close-btn icon-remove"><i class="fas fa-times"></i></a>
                        <div class="bg-green alert-icon">
                    <i class="fas fa-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" th:text="${successFlash}"></h4>
                        </div>
               </div>
  <div class="alert alert-close alert-danger" th:if="${errorFlash}">
                        <a href="#" title="Close" class="alert-close-btn icon-remove"><i class="fas fa-times"></i></a>
                        <div class="bg-red alert-icon">
                    <i class="fas fa-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" th:text="${errorFlash}"></h4>
                        </div>
               </div>
	<div class="row">		  		
	<div class="col-8" >
    <h2>List of all Questionners</h2><br /> 
    </div> 
    
    <div class="col-4" >
    <form th:action="@{questioner_view_list}"  th:method="get">
    <div class="input-group" >
	<input type="text"  id="search" class="form-control"  th:value="${search}" placeholder="search" name="search">
	<div class="input-group-append">
	<button  class="btn btn-dark waves-effect waves-light">Ok</button>  
	</div>
	</div> 
	</form>
	</div>
	
	</div> 
	<br />
	 <table class="table" id="myTable" >
	 							<thead>
				                <tr>
				                    <th>ID</th>
				                    <th>First Name</th>
				                    <th>Last Name</th>
				                    <th>Gender</th>
				                    <th>Email</th>
				                    <th>Tel</th>   
				                    <th>Birthdate</th>
				                    <th>Area</th>
				                    <th>Level</th>
				                    <th></th> 
				                </tr>
				                </thead>  
				                <tbody>
				                <tr th:each="row : ${list}">
				                    <td th:text="${row.questionnerId}"></td>
				                    <td th:text="${row.firstName}"></td>
				                    <td th:text="${row.lastName}"></td>
				                    <td th:text="${row.gender}"></td>
				                    <td th:text="${row.email}"></td>
				                    <td th:text="${row.tel}"></td>
				                    <td th:text="${#dates.format(row.birthdate, 'dd/MM/yyyy')}"></td>
				                    <td th:text="${row.area}"></td>
				                    <td th:text="${row.level}"></td>
				                    <td>  
				                       
				                     	<a th:href="@{questioner_view(id=${row.id})}" class="btn eBtn" id="eBtn">view</a> 
				                    </td> 
				                </tr>
				                </tbody>
				                
				            </table> 

 
</div>

<div id="footer">
<a href="#">Designed by Jean Franklin KAMANI</a>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>